.loader{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px dashed teal;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(1);
        opacity: 0.5;
    }
    to{
        transform: rotate(360deg) scale(1.6);
        opacity: 1;
    }
}